*.pdf
*.png
.DS_Store
.idea/

Chi_squared_analysis/
Covariance/
OLD/
PULL/
SpectrumPlots/
Test_Stoch_Response/
__pycache__/

test_main.py
convolution.py
baseline_main.py
baseline2.py
plot.py
mixing.py